input {
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    margin-left: 350px;
    margin-top: 100px;
    border-radius: 50px;
    font-size: 42px;
    padding: 20px;
}

body {
    background-image:url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/991980/b3378114f1a3bc7e9e8db3dd20962952218443cd.jpg);
    background-size: 100%;
    
}