input {
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-top: auto;
    border-radius: 50px;
    font-size: 42px;
    padding: 20px;
    
    }

body {
    background-image:url(https://pbs.twimg.com/media/D0Pbx4ZWsAAfdO3.jpg);
    background-size: 130%;
    
}