#header {
width: 100%;
border-radius: 15px;
align-items: center;}

.zagolovok {
    text-align: center;
    font-size: 40px;
    border: solid 3px #ff2c2c;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font: large;
    margin-top: 1%;
    color: #ff2c2c;}

#table {
    margin: 100px;
    border: 2px solid black;
}

#admin {
    background-color: rgb(80, 220, 255); 
    color: rgb(80, 80, 80);
}

#yt {
    background-color: rgb(255, 80, 80);
}

#insta {
    color: rgb(80, 80, 80)
}

input {
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 40px;
    font-size: 45px;}

.media {
    margin-top: 400px;}

 #downnn {
color: #ff2c2c;
text-align: center;
}


