#header {
width: 100%;
border-radius: 15px;
align-items: center;
}

.zagolovok {
    text-align: center;
    font-size: 40px;
    border: solid 3px #ff2c2c;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font: large;
    margin-top: 1%;
    color: #ff2c2c;
    
}

#left {
    text-align: left;
    margin-top: 1%;
    display: inline;
    
}

#right {
    text-align: right;
    margin-top: 1%;
    margin-left: 45%;
    display: inline;
    
}


input {
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 40px;
    font-size: 45px;
    }

#left1 {
    color: #ff2c2c;
    background-color: rgb(255, 255, 255);
}

#right1 {
    color: rgb(255, 255, 255);
    background-color: #ff2c2c;
}

#downnn {
    position: fixed;
    left: 50; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    color: #ff2c2c; /* Цвет текста */
    align-items: center;
}


    


