#header {
width: 100%; 
size: 1500px;   
}

.zagolovok {
    text-align: center;
    font-size: 40px;
    border: solid 3px rgb(80, 80, 80);
    border-radius: 15px;
    background-color: seashell;
    font: large;
    margin-top: 10%;
    
}

form {
    text-align: center;
    margin-top: 5%;
}



input {
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 50px;
    font-size: 54px;
    padding: 40px;
    }

body {
    background-image:url(https://pbs.twimg.com/media/D0Pbx4ZWsAAfdO3.jpg);
    background-size: 130%;
    
}


